# App
APP_DEBUG=false

# Database (PostgreSQL)
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DATABASE=sauth

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Auth (JWT)
AUTH_SECRET_KEY=sauth-secret-key-that-more-than-32-symbols
AUTH_ACCESS_TOKEN_EXPIRE_SECONDS=300
AUTH_REFRESH_TOKEN_EXPIRE_SECONDS=2592000
AUTH_ALGORITHM=HS256
